@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "Fondamento";
    font-weight: 500;
    src: url("./assets/fonts/Fondamento-Regular.ttf");
  }
@layer base {
  
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-color: #040203;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
}

@layer base {
  .clean-style ul,
  .clean-style ol,
  .clean-style p {
    list-style: revert;
    margin: revert;
    padding: revert;
    letter-spacing: revert;
    line-height: revert;
  }
  .clean-style table {
    border-width: 1px;
  }
  .clean-style table > tbody, .clean-style table > tbody > tr, .clean-style table > tbody > tr > td  {
    border-width: inherit;
    border-color: inherit;
  }
  .clean-style h1, .clean-style h2, .clean-style h3, .clean-style h4, .clean-style h5, .clean-style h6 {
    font-size: revert;
    line-height: revert;
    letter-spacing: revert;
  }
}